services:
  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: tenant_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    command: >
      /bin/sh -c "ln -snf /usr/share/zoneinfo/Asia/Kolkata /usr/share/zoneinfo/Asia/Calcutta && docker-entrypoint.sh postgres"
      
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
  web:
    build: .
    container_name: django_web
    command: /start.sh
    volumes:
      - .:/app  
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DATABASE_HOST: db 
      DATABASE_NAME: tenant_db
      DATABASE_USER: postgres
      DATABASE_PASSWORD: password

volumes:
  db_data: