services:
  # 1. Database
  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    command: >
      /bin/sh -c "ln -snf /usr/share/zoneinfo/Asia/Kolkata /usr/share/zoneinfo/Asia/Calcutta && docker-entrypoint.sh postgres"
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  # 2. Web Server
  web:
    build: .
    container_name: django_web
    command: /start.sh
    volumes:
      - .:/app  
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env
    environment:
      # Override DATABASE_HOST for Docker networking (must be 'db' service name)
      DATABASE_HOST: db

volumes:
  db_data: